In [114]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time

# NASA Mars News

In [115]:
#open Chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [116]:
#change the url to the site I want to visit
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [117]:
#set html and soup
html = browser.html
soup = bs(html, "html.parser")

In [118]:
#inspect the site to find what I want to scrape
news_title= soup.find('li',class_='slide').find('div',class_='content_title').text

In [119]:
news_title

"Air Deliveries Bring NASA's Perseverance Mars Rover Closer to Launch"

In [120]:
#inspect the site to find what I want to scrape
news_p= soup.find('li',class_='slide').find('div',class_='article_teaser_body').text

In [121]:
news_p

"A NASA Wallops Flight Facility cargo plane transported more than two tons of equipment — including the rover's sample collection tubes — to Florida for this summer's liftoff."

# NJPL Mars Space Images

In [35]:
#open Chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [36]:
#change the url to the site I want to visit
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [37]:
#set html and soup
html = browser.html
soup = bs(html, "html.parser")

In [38]:
#browser.links.find_by_partial_text('FULL IMAGE')
image = browser.find_by_id('full_image')
image.click()

In [39]:
image2 = browser.find_link_by_partial_text('more info')
image2.click()

In [40]:
#inspect the site to find what I want to scrape
image3= soup.find('div',class_='grid_layout')
#.find('img',class_='fancybox-image')

In [41]:
html = browser.html
soup = bs(html, "html.parser")

image4 = soup.select_one("figure.lede a img").get("src")
print(image4)

/spaceimages/images/largesize/PIA18897_hires.jpg

In [42]:
featured_image_url = f"https://www.jpl.nasa.gov{image4}"

In [43]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18897_hires.jpg'

# Mars Facts

In [47]:
#open Chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [48]:
#change the url to the site I want to visit
url = "https://space-facts.com/mars/"
browser.visit(url)

In [49]:
#set html and soup
html = browser.html
soup = bs(html, "html.parser")

In [57]:
equator= soup.find('tr',class_='row-1 odd').find('td',class_='column-1').text

In [58]:
print(equator)

Equatorial Diameter:

In [59]:
equator2= soup.find('tr',class_='row-1 odd').find('td',class_='column-2').text

In [60]:
print(equator2)

6,792 km

In [61]:
polar= soup.find('tr',class_='row-2 even').find('td',class_='column-1').text
polar2= soup.find('tr',class_='row-2 even').find('td',class_='column-2').text

In [62]:
polar

'Polar Diameter:'

In [63]:
polar2

'6,752 km'

In [64]:
mass= soup.find('tr',class_='row-3 odd').find('td',class_='column-1').text
mass2= soup.find('tr',class_='row-3 odd').find('td',class_='column-2').text

In [65]:
mass

'Mass:'

In [66]:
mass2

'6.39 × 10^23 kg (0.11 Earths)'

In [67]:
moon= soup.find('tr',class_='row-4 even').find('td',class_='column-1').text
moon2= soup.find('tr',class_='row-4 even').find('td',class_='column-2').text

In [68]:
moon

'Moons:'

In [69]:
moon2

'2 (Phobos & Deimos)'

In [70]:
orbitd= soup.find('tr',class_='row-5 odd').find('td',class_='column-1').text
orbitd2= soup.find('tr',class_='row-5 odd').find('td',class_='column-2').text
orbitp= soup.find('tr',class_='row-6 even').find('td',class_='column-1').text
orbitp2= soup.find('tr',class_='row-6 even').find('td',class_='column-2').text

In [71]:
orbitd

'Orbit Distance:'

In [72]:
orbitd2

'227,943,824 km (1.38 AU)'

In [73]:
orbitp

'Orbit Period:'

In [74]:
orbitp2

'687 days (1.9 years)'

In [76]:
surface= soup.find('tr',class_='row-7 odd').find('td',class_='column-1').text
surface2= soup.find('tr',class_='row-7 odd').find('td',class_='column-2').text
firstrecord= soup.find('tr',class_='row-8 even').find('td',class_='column-1').text
firstrecord2= soup.find('tr',class_='row-8 even').find('td',class_='column-2').text

In [77]:
surface

'Surface Temperature: '

In [78]:
surface2

'-87 to -5 °C'

In [79]:
firstrecord

'First Record:'

In [80]:
firstrecord2

'2nd millennium BC'

In [81]:
recordby= soup.find('tr',class_='row-9 odd').find('td',class_='column-1').text
recordby2= soup.find('tr',class_='row-9 odd').find('td',class_='column-2').text

In [82]:
recordby

'Recorded By:'

In [83]:
recordby2

'Egyptian astronomers'

In [84]:
marsfacts = {'Key':  [equator, polar, mass, moon, orbitd, orbitp, surface, firstrecord, recordby],
        'Value': [equator2, polar2, mass2, moon2, orbitd2, orbitp2, surface2, firstrecord2, recordby2]
        }

In [87]:
import pandas as pd

In [88]:
marsfacts_df = pd.DataFrame (marsfacts, columns = ['Key','Value'])

In [89]:
marsfacts_df

                     Key                          Value
0   Equatorial Diameter:                       6,792 km
1        Polar Diameter:                       6,752 km
2                  Mass:  6.39 × 10^23 kg (0.11 Earths)
3                 Moons:            2 (Phobos & Deimos)
4        Orbit Distance:       227,943,824 km (1.38 AU)
5          Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                    -87 to -5 °C
7          First Record:              2nd millennium BC
8           Recorded By:           Egyptian astronomers

In [90]:
# render dataframe as html
mars_html = marsfacts_df.to_html()
print(mars_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [91]:
#open Chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [92]:
#change the url to the site I want to visit
#url = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"
#browser.visit(url)

In [105]:
#change the url to the site I want to visit
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [106]:
#set html and soup
html = browser.html
soup = bs(html, "html.parser")

In [107]:
#inspect the site to find what I want to scrape
hemi_title= soup.find('div',class_='description').find('h3').text

In [108]:
print(hemi_title)

Cerberus Hemisphere Enhanced